
/* Ad component stylesheet */

.add_wrapper {
    height: 90px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 44px;
}
.content_left h1 {
    font-size: 37px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    margin: 0 0 20px;
    line-height: 43px;
}
.content_left span.heading_sub {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    display: block;
    line-height: 30px;
    margin: 0 0 15px;
}
.user_profile {
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
}
.user_profile i {
    vertical-align: middle;
    display: inline-block;
    font-style: italic;
    font-size: 18px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    width: calc(100% - 70px);
    margin-top: 15px;
}
.content_left p {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 25px;
}
.content_left p strong {
    font-weight: 700;
    line-height: 32px;
    font-size: 22px;
    text-transform: uppercase;
}
.figure_box{
    margin: 0 0 20px;
}
figcaption {
    font-size: 14px;
    color: #585858;
    font-family: Georgia;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    margin-top: 10px;
}
.gallery_box p {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}
.pic_count {
    width: 61px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    padding: 8px 0;
}
.pic_count i {
    margin: 0 0 4px;
    display: block;
    text-align: center;
}
figure img {
    border: 1px solid #f0f0f0;
}
.pic_count span {
    display: block;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    font-family: Merriweather,serif;
    margin: 0;
    line-height: 1;
}
.gallery_box figure {
    text-align: center;
    position: relative;
    margin: 0px;
}
.gallery_box_center {
    border: none;
    padding: 0;
    margin: 0 0 55px;
}
.cm-comment-btn-container>.cm-btn-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.cm-comment-btn-container>.cm-btn-group>span {
    width: auto;
    margin-right: 15px;
}
.cm-comment-btn-container>.cm-btn-group>span .cmload-comment-btn {
    padding: 0 10px;
    width: 100%;
    margin-top: 10px;
}
.cmload-comment-btn {
    border: 2px solid #bb0a0a;
    height: 38px;
    line-height: 35px;
    font-size: 15px;
    padding: 0 40px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    color: #bb0a0a;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}
.cm-comment-btn-container>.cm-btn-group span.cmPageButCount {
    position: relative;
}
.cmload-comment-btn:hover {
    background-color: #bb0a0a;
    color: #fff;
}
.content_left h3{
    cursor: pointer;
}
.author_detail p {
    font-size: 32px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
    line-height: 39px;
}
.list_detail span{
    cursor: pointer;
}
.upperheader img{
    cursor: pointer;
}


@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}



/* Footer Component */
.bottom_footer {
    background-color:#000;
    text-align:center;
    padding:15px 0
   }
   .bottom_footer span {
    font-size:13px;
    color:#fff;
    font-weight:400;
    display:inline-block;
    font-family:Georgia;
    line-height:17px
   }
   .top_footer {
    padding:24px 0 22px;
    background-color:#f6f6f6
   }
   .footer_logo_right {
    float:right;
    padding-right:77px
   }
   .footer_logo {
    padding:0 5px 20px;
    margin:0 0 12px;
    display:inline-block;
    border-bottom:1px solid #ddd;
    cursor: pointer;
   }
   .footer_follow_us a,
   .footer_follow_us label {
    display:inline-block;
    vertical-align:middle
   }
   .footer_follow_us label {
    margin-right:32px;
    color:#9d9d9d;
    font-family:Georgia;
    font-weight:400;
    font-size:16px
   }
   .footer_follow_us a {
    margin-right:45px
   }
   .footer_follow_us a:last-child {
    margin-right:0
   }
   .top_footer h4 {
    font-size:14px;
    color:#000;
    font-weight:700;
    font-family:Georgia;
    text-transform:uppercase;
    margin:0 0 18px
   }
   .quick_menu {
    float:left;
    margin-left:50px;
    width:230px
   }
   .our_site {
    width:auto
   }
   .footer_menu {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
   }
   .our_site_menu {
    padding-right:34px;
    margin-right:46px;
    border-right:1px solid #ddd
   }
   .our_site .footer_menu {
    display:block
   }
   .footer_menu li {
    margin-bottom:15px;
    width:50%
   }
   .footer_menu li a,
   .footer_menu li a:hover {
    font-size:14px;
    display:inline-block;
    color:#000;
    font-weight:400;
    font-family:Georgia;
    text-decoration:none
   }
   .our_site .footer_menu li {
    width:100%
   }
   .container img{
       cursor: pointer;
   }
   @media only screen and (max-width:1291px) {
    .quick_menu {
     margin-left:30px
    }
    .footer_logo_right {
     padding-right:30px
    }
    .footer_logo {
     width:300px
    }
   }
   @media only screen and (max-width:992px) {
    .quick_menu {
     margin-left:0;
     width:190px
    }
    .footer_logo_right {
     padding-right:0
    }
    .our_site_menu {
     padding-right:20px;
     margin-right:20px
    }
    .our_site {
     margin-left:20px;
     width:auto
    }
    .footer_logo {
     width:230px
    }
    .footer_follow_us a {
     margin-right:15px
    }
    .footer_follow_us label {
     margin-right:10px
    }
   }
   @media only screen and (max-width:767px) {
    .quick_menu {
     margin:0 0 10px;
     width:100%;
     float:none
    }
    .our_site {
     margin-left:0;
     width:100%
    }
    .our_site_menu {
     padding-right:0;
     margin-right:0;
     width:100%;
     border-right:none
    }
    .our_site_menu_right {
     width:100%
    }
    .our_site .flex_wrap {
     flex-wrap:wrap
    }
    .our_site .footer_menu {
     display:flex;
     padding:0 0 15px
    }
    .our_site .footer_menu li {
     width:50%;
     margin:0 0 19px
    }
    .footer_logo {
     display:none
    }
    .footer_logo_right {
     float:none
    }
    .footer_menu {
     padding:0 0 15px
    }
    .footer_follow_us label {
     margin:0 0 10px;
     display:block;
     text-align:center
    }
    .footer_follow_us {
     text-align:center;
     padding-top:8px;
     border-top:1px solid #ddd
    }
    .top_footer {
     padding:15px 0 20px
    }
    .bottom_footer span {
     font-size:12px
    }
    .footer_follow_us label {
     margin:0 0 17px;
     font-size:16px
    }
    .bottom_footer {
     padding:10px 0
    }
    .footer_follow_us a {
     margin:0 20px
    }
    .top_footer h4 {
     margin:0 0 20px
    }
   }


/* Add Section */

@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}


/* top heading */
.author_head {
    padding: 0 0 30px;
    margin: 0 0 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.author_head h2 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    margin: 0;
}
.update_tab {
    border: 1px solid #000;
}
.update_tab a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    width: 80px;
    font-family: Georgia;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
}
.update_tab a.active {
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:767px){
    .author_head {
    flex-wrap: wrap;
    margin: 0 0 25px;
}
.author_head h2 {
    font-size: 20px;
    margin: 0 0 22px;
    width: 100%;
}
}


/* header.css file */
/* only for searchbar css */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    z-index: 999999;
}
.search_box {
    padding-top: 174px;
}
.search_text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
}
.search_text label {
    font-size: 40px;
    color: #fff;
    font-family: Georgia;
    font-weight: 400;
}
.cross {
    display: inline-block;
    cursor: pointer;
}
.relative {
    position: relative;
}
.inputwrapper input {
    width: 100%;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 50px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    height: 64px;
    line-height: 64px;
    padding: 0 74px 0 20px;
    font-size: 30px;
}
.search_input {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    display: inline-block;
}
.search_input img{
    cursor: pointer;
}

/* Mobile Header */
.mobile_header {
    display: none;
}

@media only screen and (max-width:1291px){
    .menu a, .menu a:hover {
    font-size: 16px;
    margin-right: 15px;
}
.searchicon {
    right: 10px;
    width: 20px;
}
}
@media only screen and (max-width:992px){
    .logo {
    display: inline-block;
    height: 60px;
    width: 200px;
}
.follow_us a, .follow_us label {
    margin-right: 15px;
}
.menu a, .menu a:hover {
    font-size: 14px;
    margin-right: 5px;
    padding: 10px 5px;
}
.menu a:hover:last-child, .menu a:last-child {
    margin-right: 0;
}
.strickylogo {
    width: 120px;
    height: 34px;
    margin-right: 20px;
}
}


@media only screen and (max-width:767px){
    .search_box {
    padding-top: 85px;
}
.search_text {
    margin: 0 0 8px;
}
.search_text label {
    font-size: 30px;
}
.cross {
    width: 18px;
}
.inputwrapper input {
    height: 40px;
    line-height: 38px;
    padding: 0 45px 0 15px;
    font-size: 17px;
}
.search_input {
    width: 22px;
    right: 16px;
}


/* Mobile Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.bottomheader, .upperheader {
    display: none;
}


.mobile_header a.menu_icon {
    margin-right: 18px;
}
.menu_icon{
    margin-right: 15px;
}
.mobile_header a {
    display: inline-block;
    vertical-align: middle;
}

.mobile_header .logo {
    width: 126px;
    height: auto;
}

.searchicon {
    position: absolute;
    right: 10px !important;
    top: 50%;
    transform: translateY(-50%);
    width: 31px;
    height: 31px;
}

.humburger_overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 99999;
    background: rgba(0,0,0,.6);
}

.menu_wrapper {
    background: #242424;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
}
.mobile_header_top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 18px 18px;
}
.mobile_logo {
    display: inline-block;
    width: 147px;
}
.cross_menu {
    display: inline-block;
    width: 17px;
}
.mobile_menu a {
    display: block;
    width: 100%;
    padding: 17px 18px;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    font-family: Georgia;
    text-decoration: none;
    border-bottom: 1px solid #505050;
}
.mobile_menu a:last-child {
    border-bottom: none;
}

/* Mobile Header */
.mobile_header {
    background: #f6f6f6;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    display: flex !important;
    padding: 10px;
}
.humburger_overlay {
    display: block!important;
}
}


/* complete header css */
/* Header component stylesheet */
.humburger_overlay {
    display: none;
}
.mobile_header {
    display: none;
}
.upperheader {
    padding: 20px 0 7px;
    background: #fff;
    text-align: center;
}
.logo {
    display: inline-block;
    height: 76px;
    width: 267px;
}
.bottomheader {
    background: #f6f6f6;
}
.menu a,
.menu a:hover {
    display: inline-block;
    padding: 17px 12px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: Georgia;
    margin-right: 24px;
    text-decoration: none;
    position: relative;
}
.activeNavMenu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    background: #b30010;
}
.menu a:hover:last-child,
.menu a:last-child {
    margin-right: 0;
}
.searchicon {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
.follow_us {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.follow_us a,
.follow_us label {
    display: inline-block;
    vertical-align: middle;
}
.follow_us label {
    font-size: 16px;
    font-family: Georgia;
    font-weight: 400;
    color: #000;
    margin-right: 23px;
}
.follow_us a {
    margin-right: 38px;
}
.follow_us a:last-child {
    margin-right: 0;
}
.strickylogo {
    width: 152px;
    height: 42px;
    margin-right: 36px;
    margin-top: 8px;
    display: none;
    cursor: pointer;
}
.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #f6f6f6;
    animation: smoothScroll 1s forwards;
}
.fixed .strickylogo {
    display: block;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translateY(0px);
	}
}




/* small add & read component*/
/* small ad */
.add_box {
    margin: 0 0 20px;
    min-height: 250px;
}

/* read component */
h4 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 18px;
}
.right_card {
    margin: 0 0 26px;
}
.right_card figure {
    margin: 0 0 5px;
}
.right_card p {
    font-size: 18px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    line-height: 24px;
}
@media only screen and (max-width:992px){
            .right_card {
                margin: 0 0 15px;
            }
            .right_card p {
    font-size: 16px;
}
}
@media only screen and (max-width:767px){
    .right_card {
        margin: 0 0 24px;
    } 
    .right_card figure {
    text-align: center;
    margin: 0 0 10px;
}
.right_card p {
    font-size: 18px;
    line-height: 24px;
}
.fixed{
    display: none;
}

}
/* h1{
    font-size: 35px;
    color: #6363fb;
    text-align: center;
    padding: 45px;
} */
