/*
 Table Of Contents
 1.) Eric Meyer's Reset
 2.) Global Typography
	 2.0.1) Font Face
	 2.0.2) Global Headings
	 2.0.3) Form Elements
	 2.0.4) List styles
	 2.0.5) General Text Formatting
	 2.0.6) Link elements
	 2.0.7) Table Elements
	 2.0.8) Button Styles
	 2.0.9) Sprite Icons
	 2.1.0) 960 Grid Style
 ===============================================*/

/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 1.) Global Typography
 ----------------------------------------*/
*, :before, :after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	font-size: 62.5%;
	font-family: Georgia;
}
/*
 2.0.1) Font Face
 -----------------------------*/
/*Put Your font face Styles here*/

/*
 2.0.2) Global Headings
 -----------------------------*/
h1, h2, h3, h4, h5, h6 {
	
}

/*
 2.0.3) Form Elements
 -----------------------------*/


/*
 2.0.4) List Styles
 ---------------------------------*/

/*
 2.0.5) General Text Formatting
 -----------------------------------*/

img{
	max-width: 100%;
	height: auto;
}
/*
 2.0.6) Link style
 -------------------------*/

/*
 2.0.7) Table Elements
 --------------------------*/

/*
 2.0.8) Button Styles
 -------------------------*/

/*
 2.0.9) Sprite Icons
 -------------------------*/

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}


/* Global Css */
.relative {
    position: relative;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
	max-height:100%;
}
.container {
    max-width: 1292px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.flex_wrap {
    display: flex;
    justify-content: flex-start;
}
ul {
    margin: 0;
    padding: 0;
}
ul li{
	list-style-type:none;
}


/* home page stylesheet */


/* Fashion Component Stylesheet */
.fashion {
    margin: 44px 0 85px;
}
.fashion_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fashion_cell {
    width: calc(25% - 14px);
    text-align: center;
}
.fashion_cell figure {
    margin: 0 0 10px;
}
.fashion_cell p {
    font-size: 30px;
    line-height: 40px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
}
.fashion_cell figure.add_fashion {
    margin: 0 0 29px;
    overflow: hidden;
    min-height: 250px;
}
.fashion_cell figure.add_fashion img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width:1291px){
    .fashion_cell p {
    font-size: 24px;
    line-height: 28px;
}
}
@media only screen and (max-width:1024px){
    
}
@media only screen and (max-width:992px){
    
}
@media only screen and (max-width:767px){
    .fashion {
    margin: 32px  0 0;
}
.fashion_cell {
    width: 100%;
    margin: 0 0 30px;
}
.fashion_cell p {
    font-size: 20px;
    line-height: 28px;
}
}
/* Heading Title */
.tittle_text {
    font-family: Georgia;
    font-style: italic;
    color: #000;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    position: static;
    margin: 0 0 15px;
    padding-left: 112px;
}
.tittle_text span {
    background: #fff;
    position: relative;
    display: inline-block;
    z-index: 99;
}
.tittle_text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

@media only screen and (max-width:767px){
    .tittle_text {
    font-size: 35px;
    margin: 0 0 14px;
    padding-left: 17px;
}
}

/* Ad component stylesheet */
.add_wrapper {
    height: 90px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}



/* Footer Component */
.bottom_footer {
    background-color:#000;
    text-align:center;
    padding:15px 0
   }
   .bottom_footer span {
    font-size:13px;
    color:#fff;
    font-weight:400;
    display:inline-block;
    font-family:Georgia;
    line-height:17px
   }
   .top_footer {
    padding:24px 0 22px;
    background-color:#f6f6f6
   }
   .footer_logo_right {
    float:right;
    padding-right:77px
   }
   .footer_logo {
    padding:0 5px 20px;
    margin:0 0 12px;
    display:inline-block;
    border-bottom:1px solid #ddd
   }
   .footer_follow_us a,
   .footer_follow_us label {
    display:inline-block;
    vertical-align:middle
   }
   .footer_follow_us label {
    margin-right:32px;
    color:#9d9d9d;
    font-family:Georgia;
    font-weight:400;
    font-size:16px
   }
   .footer_follow_us a {
    margin-right:45px
   }
   .footer_follow_us a:last-child {
    margin-right:0
   }
   .top_footer h4 {
    font-size:14px;
    color:#000;
    font-weight:700;
    font-family:Georgia;
    text-transform:uppercase;
    margin:0 0 18px
   }
   .quick_menu {
    float:left;
    margin-left:50px;
    width:230px
   }
   .our_site {
    width:auto
   }
   .footer_menu {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
   }
   .our_site_menu {
    padding-right:34px;
    margin-right:46px;
    border-right:1px solid #ddd
   }
   .our_site .footer_menu {
    display:block
   }
   .footer_menu li {
    margin-bottom:15px;
    width:50%
   }
   .footer_menu li a,
   .footer_menu li a:hover {
    font-size:14px;
    display:inline-block;
    color:#000;
    font-weight:400;
    font-family:Georgia;
    text-decoration:none
   }
   .our_site .footer_menu li {
    width:100%
   }
   @media only screen and (max-width:1291px) {
    .quick_menu {
     margin-left:30px
    }
    .footer_logo_right {
     padding-right:30px
    }
    .footer_logo {
     width:300px
    }
   }
   @media only screen and (max-width:992px) {
    .quick_menu {
     margin-left:0;
     width:190px
    }
    .footer_logo_right {
     padding-right:0
    }
    .our_site_menu {
     padding-right:20px;
     margin-right:20px
    }
    .our_site {
     margin-left:20px;
     width:auto
    }
    .footer_logo {
     width:230px
    }
    .footer_follow_us a {
     margin-right:15px
    }
    .footer_follow_us label {
     margin-right:10px
    }
   }
   @media only screen and (max-width:767px) {
    .quick_menu {
     margin:0 0 10px;
     width:100%;
     float:none
    }
    .our_site {
     margin-left:0;
     width:100%
    }
    .our_site_menu {
     padding-right:0;
     margin-right:0;
     width:100%;
     border-right:none
    }
    .our_site_menu_right {
     width:100%
    }
    .our_site .flex_wrap {
     flex-wrap:wrap
    }
    .our_site .footer_menu {
     display:flex;
     padding:0 0 15px
    }
    .our_site .footer_menu li {
     width:50%;
     margin:0 0 19px
    }
    .footer_logo {
     display:none
    }
    .footer_logo_right {
     float:none
    }
    .footer_menu {
     padding:0 0 15px
    }
    .footer_follow_us label {
     margin:0 0 10px;
     display:block;
     text-align:center
    }
    .footer_follow_us {
     text-align:center;
     padding-top:8px;
     border-top:1px solid #ddd
    }
    .top_footer {
     padding:15px 0 20px
    }
    .bottom_footer span {
     font-size:12px
    }
    .footer_follow_us label {
     margin:0 0 17px;
     font-size:16px
    }
    .bottom_footer {
     padding:10px 0
    }
    .footer_follow_us a {
     margin:0 20px
    }
    .top_footer h4 {
     margin:0 0 20px
    }
   }

   /* Banner Slider */
   .banner{
    padding-top:14px;
    padding-bottom:71px;
}
.banner figure {
    margin: 0 0 18px;
}
.banner h2{
    font-size: 42px;
color: #000;
font-weight: 400;
font-style: italic;
line-height: 53px;
text-align: center;
font-family: Georgia;
margin: 0;
}
@media only screen and (max-width:992px){
    .banner h2 {
    font-size: 35px;
    line-height: 45px;
}
}

@media  only screen and (max-width:767px){
    .banner figure {
    margin: 0 0 9px;
}
.banner h2 {
    font-size: 24px;
    line-height: 32px;
}
}

/* Add Section */
.add_wrapper {
    height: 90px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}


/* top heading */
.author_head {
    padding: 0 0 30px;
    margin: 0 0 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.author_head h2 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    margin: 0;
}
.update_tab {
    border: 1px solid #000;
}
.update_tab a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    width: 80px;
    font-family: Georgia;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
}
.update_tab a.active {
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:767px){
    .author_head {
    flex-wrap: wrap;
    margin: 0 0 25px;
}
.author_head h2 {
    font-size: 20px;
    margin: 0 0 22px;
    width: 100%;
}
}

/* CelebrityList */
.author_list li {
    margin: 0 0 38px;
    padding: 0 0 38px;
    border-bottom: 1px solid #ddd;
}
.author_list li figure {
    float: left;
    width: 414px;
    height: 234px;
    margin-right: 30px;
}
.author_detail {
    float: left;
    width: calc(100% - 444px);
}
.author_detail span {
    font-size: 18px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0 0 16px;
    display: block;
}
.author_detail p {
    font-size: 32px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
    line-height: 39px;
}
@media only screen and (max-width:1291px){
.author_list li figure{
    width: 300px;
    height: auto;
    margin-right: 20px;
}
.author_detail {
    width: calc(100% - 320px);
}
}
@media only screen and (max-width:992px){
    .author_list li figure {
    width: 100%;
    float: none;
    margin: 0 0 20px;
}
.author_list li figure img {
    width: 100%;
}
.author_detail {
    width: 100%;
    float: none;
}
.author_detail p {
    font-size: 24px;
    line-height: 28px;
}
}

@media only screen and (max-width:767px){
    .author_list {
    margin: 0 -10px;
}
.author_list li {
    margin: 0 0 30px;
    padding: 0 0 20px;
}
.author_list li figure {
    margin: 0 0 18px;
}
.author_detail {
    padding: 0 10px;
}
.author_detail span {
    font-size: 16px;
}
.author_detail p {
    font-size: 20px;
    line-height: 28px;
}
}



/* Beauty component */
.travel_inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
}
.travel_left {
    width: calc(100% - 560px);
    text-align: center;
}
.travel_left figure {
    margin: 0 0 20px;
}
.travel_left p {
    font-size: 35px;
    line-height: 45px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
}
.travel_right {
    width: 530px;
}
.travel_list li {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #ddd;
}
.travel_list li figure {
    width: 122px;
    height: 122px;
    display: inline-block;
    vertical-align: top;
}
.travel_list li p {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    padding-left: 14px;
    width: calc(100% - 122px);
}
.travel_list li:last-child {
    margin: 0;
}

@media only screen and (max-width:1291px){
.travel_left p {
    font-size: 28px;
    line-height: 38px;
}
}
@media only screen and (max-width:1024px){
    .travel_left {
    width: calc(100% - 460px);
}
.travel_right {
    width: 430px;
}
}
@media only screen and (max-width:992px){
    .travel_left {
    width: calc(100% - 460px);
}
.travel_right {
    width: 430px;
}
}
@media only screen and (max-width:767px){
    .travel_left {
    width: 100%;
    margin: 0 0 22px;
}
.travel_left p {
    font-size: 20px;
    line-height: 28px;
}
.travel_right {
    width: 100%;
}
.travel_list li {
    margin: 0 0 23px;
    padding: 0 0 23px;
}
.travel_list li p {
    font-size: 18px;
    line-height: 26px;
}

}


/* Home culture component */
.culture {
    padding-bottom: 101px;
    padding-top:80px;
}

.culture_top_left {
    width: calc(100% - 325px);
    display: flex;
}
.culture_top_sec {

    display: flex;
    justify-content: space-between;
    margin: 0 0 29px;

}
.culture_img, .culture_text {
    width: 50%;
}
.culture_img img {
    width: 100%;
    height: 100%;
}
.culture_text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    padding: 10px 35px;
    text-align: center;
}
.culture_text p {
    font-size: 35px;
    line-height: 45px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
}
.culture_top_sec .add_sec {
    width: 300px;
    height: 250px;
    overflow: hidden;
}
.culture_top_sec .add_sec img {
    height: 100%;
    width: 100%;
}
.culture_list {
    display: flex;
    justify-content: space-between;
}
.culture_cell {
    display: flex;
    align-items: flex-start;
    width: calc(33.33% - 12px);
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
}
.culture_list figure {
    width: 119px;
    height: 119px;
}
.culture_list figure img {
    width: 100%;
    height: 100%;
}
.culture_list p {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    margin: 0;
    padding-left: 20px;
    width: calc(100% - 119px);
}

@media only screen and (max-width:1291px){

}
@media only screen and (max-width:1024px){
    .culture_text {
    padding: 10px 15px;
}
.culture_text p {
    font-size: 24px;
    line-height: 34px;
}
.culture_list p {
    font-size: 18px;
    line-height: 28px;
}
}
@media only screen and (max-width:992px){
    .culture {
    padding-bottom: 50px;
    padding-top:50px;
}
.culture_text p {
    font-size: 18px;
    line-height: 28px;
}
.culture_list figure {
    width: 80px;
    height: 80px;
}
.culture_list p {
    width: calc(100% - 80px);
}
}
@media only screen and (max-width:767px){
    .culture {
    padding-bottom: 10px;
    padding-top:30px;
}
.culture_top_sec {
    display: block;
}
.culture_top_left {
    width: 100%;
    display: block;
    margin: 0 0 30px;
}
.culture_img, .culture_text {
    width: 100%;
}

.culture_text {
    padding: 28px 15px;
}
.culture_text p {
    font-size: 20px;
    line-height: 28px;
}
.culture_top_sec .add_sec {
    margin: 0 auto 30px;
}

.culture_list {
    display: block;
}
.culture_cell {
    width: 100%;
    margin: 0 0 30px;
}
.culture_list figure {
    width: 121px;
    height: 121px;
}
.culture_list p {
    width: calc(100% - 121px);
    padding-left: 19px;
    line-height: 26px;
}
}

/* Celebrity Section */
.Celebrity {
    margin: 0 0 93px;
}
.fashion_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fashion_cell {
    width: calc(25% - 14px);
    text-align: center;
}
.fashion_cell figure {
    margin: 0 0 15px;
}
.fashion_cell p {
        font-size: 24px;
        color: #000;
        font-family: Georgia;
        font-weight: 400;
        margin: 0;
        line-height: 34px;
}
@media only screen and (max-width:1291px){
.fashion_cell p {
    font-size: 24px;
    line-height: 28px;
}
}
@media only screen and (max-width:992px){
    
}
@media only screen and (max-width:767px){
    .fashion {
    margin: 0;
}
.fashion_cell {
    width: 100%;
    margin: 0 0 30px;
}
 .fashion_cell p {
    font-size: 20px;
    line-height: 28px;
}
}

/* Travel & Food Section */
.travel_inner {
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: wrap;
}
.travel_left {
    width: calc(100% - 560px);
    text-align: center;
}
.travel_left figure {
    margin: 0 0 20px;
}
.travel_left p {
    font-size: 35px;
    line-height: 45px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
}
.travel_right {
    width: 530px;
}
.travel_list li {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 27px;
    margin-bottom: 27px;
    border-bottom: 1px solid #ddd;
}
.travel_list li figure {
    width: 122px;
    height: 122px;
    display: inline-block;
    vertical-align: top;
}
.travel_list li p {
    font-size: 24px;
    line-height: 34px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    padding-left: 14px;
    width: calc(100% - 122px);
}
.travel_list li:last-child {
    margin: 0;
}

@media only screen and (max-width:1291px){
.travel_left p {
    font-size: 28px;
    line-height: 38px;
}
}
@media only screen and (max-width:1024px){
    .travel_left {
    width: calc(100% - 460px);
}
.travel_right {
    width: 430px;
}
}
@media only screen and (max-width:992px){
    .travel_left {
    width: calc(100% - 460px);
}
.travel_right {
    width: 430px;
}
}
@media only screen and (max-width:767px){
    .travel_left {
    width: 100%;
    margin: 0 0 22px;
}
.travel_left p {
    font-size: 20px;
    line-height: 28px;
}
.travel_right {
    width: 100%;
}
.travel_list li {
    margin: 0 0 23px;
    padding: 0 0 23px;
}
.travel_list li p {
    font-size: 18px;
    line-height: 26px;
}

}



/* Header component stylesheet */
.humburger_overlay {
    display: none;
}
.mobile_header {
    display: none;
}
.upperheader {
    padding: 20px 0 7px;
    background: #fff;
    text-align: center;
}
.logo {
    display: inline-block;
    height: 76px;
    width: 267px;
}
.bottomheader {
    background: #f6f6f6;
}
.menu a,
.menu a:hover {
    display: inline-block;
    padding: 17px 12px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: Georgia;
    margin-right: 24px;
    text-decoration: none;
    position: relative;
}
.activeNavMenu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 4px;
    background: #b30010;
}
.menu a:hover:last-child,
.menu a:last-child {
    margin-right: 0;
}
.searchicon {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    cursor: pointer;
}
.follow_us {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.follow_us a,
.follow_us label {
    display: inline-block;
    vertical-align: middle;
}
.follow_us label {
    font-size: 16px;
    font-family: Georgia;
    font-weight: 400;
    color: #000;
    margin-right: 23px;
}
.follow_us a {
    margin-right: 38px;
}
.follow_us a:last-child {
    margin-right: 0;
}
.strickylogo {
    width: 152px;
    height: 42px;
    margin-right: 36px;
    margin-top: 8px;
    display: none;
}
.fixed {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: #f6f6f6;
}
.fixed .strickylogo {
    display: block;
}


/* small add & read component*/
/* small ad */
.add_box {
    margin: 0 0 20px;
    min-height: 250px;
}

/* read component */
h4 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 18px;
}
.right_card {
    margin: 0 0 26px;
}
.right_card figure {
    margin: 0 0 5px;
}
.right_card p {
    font-size: 18px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    line-height: 24px;
}
@media only screen and (max-width:992px){
            .right_card {
                margin: 0 0 15px;
            }
            .right_card p {
    font-size: 16px;
}
}
@media only screen and (max-width:767px){
    .right_card {
        margin: 0 0 24px;
    } 
    .right_card figure {
    text-align: center;
    margin: 0 0 10px;
}
.right_card p {
    font-size: 18px;
    line-height: 24px;
}
}


/* wrapper CelebrityList */
.content_wrapper {
    padding-bottom: 65px;
}
.content_inner {
    display: flex;
    justify-content: space-between;
}
.content_left {
    width: calc(100% - 325px);
}
.content_right {
    width: 300px;
}
@media only screen and (max-width:767px){
    .content_wrapper {
    padding-bottom: 32px;
}

.content_inner {
    display: block;
}
.content_left {
    width: 100%;
    margin: 0 0 29px;
}
.content_right {
    width: 300px;
    margin: 0 auto;
}
}

/* Navigation Section */

.nevigation_section {
    padding: 20px 0 26px;
}

.nevigation_section a, .nevigation_section span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}
.nevigation_section a {
    font-size: 16px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    text-decoration: none;
}
.nevigation_section a.active {
    color: #b30010;
}





/* common stylesheet for all like harper bazar react client side */

/* Heading Title */
.tittle_text {
    font-family: Georgia;
    font-style: italic;
    color: #000;
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 22px;
    padding-left: 109px;
}
.tittle_text span {
    background: #fff;
    position: relative;
    display: inline-block;
    z-index: 99;
}
.tittle_text::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
}

@media only screen and (max-width:767px){
    .tittle_text {
    font-size: 35px;
    margin: 0 0 14px;
    padding-left: 17px;
}
}

/* Ad component stylesheet */
.add_wrapper {
    height: 90px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}



/* Footer Component */
.bottom_footer {
    background-color:#000;
    text-align:center;
    padding:15px 0
   }
   .bottom_footer span {
    font-size:13px;
    color:#fff;
    font-weight:400;
    display:inline-block;
    font-family:Georgia;
    line-height:17px
   }
   .top_footer {
    padding:24px 0 22px;
    background-color:#f6f6f6
   }
   .footer_logo_right {
    float:right;
    padding-right:77px
   }
   .footer_logo {
    padding:0 5px 20px;
    margin:0 0 12px;
    display:inline-block;
    border-bottom:1px solid #ddd
   }
   .footer_follow_us a,
   .footer_follow_us label {
    display:inline-block;
    vertical-align:middle
   }
   .footer_follow_us label {
    margin-right:32px;
    color:#9d9d9d;
    font-family:Georgia;
    font-weight:400;
    font-size:16px
   }
   .footer_follow_us a {
    margin-right:45px
   }
   .footer_follow_us a:last-child {
    margin-right:0
   }
   .top_footer h4 {
    font-size:14px;
    color:#000;
    font-weight:700;
    font-family:Georgia;
    text-transform:uppercase;
    margin:0 0 18px
   }
   .quick_menu {
    float:left;
    margin-left:50px;
    width:230px
   }
   .our_site {
    width:auto
   }
   .footer_menu {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap
   }
   .our_site_menu {
    padding-right:34px;
    margin-right:46px;
    border-right:1px solid #ddd
   }
   .our_site .footer_menu {
    display:block
   }
   .footer_menu li {
    margin-bottom:15px;
    width:50%
   }
   .footer_menu li a,
   .footer_menu li a:hover {
    font-size:14px;
    display:inline-block;
    color:#000;
    font-weight:400;
    font-family:Georgia;
    text-decoration:none
   }
   .our_site .footer_menu li {
    width:100%
   }
   @media only screen and (max-width:1291px) {
    .quick_menu {
     margin-left:30px
    }
    .footer_logo_right {
     padding-right:30px
    }
    .footer_logo {
     width:300px
    }
   }
   @media only screen and (max-width:992px) {
    .quick_menu {
     margin-left:0;
     width:190px
    }
    .footer_logo_right {
     padding-right:0
    }
    .our_site_menu {
     padding-right:20px;
     margin-right:20px
    }
    .our_site {
     margin-left:20px;
     width:auto
    }
    .footer_logo {
     width:230px
    }
    .footer_follow_us a {
     margin-right:15px
    }
    .footer_follow_us label {
     margin-right:10px
    }
   }
   @media only screen and (max-width:767px) {
    .quick_menu {
     margin:0 0 10px;
     width:100%;
     float:none
    }
    .our_site {
     margin-left:0;
     width:100%
    }
    .our_site_menu {
     padding-right:0;
     margin-right:0;
     width:100%;
     border-right:none
    }
    .our_site_menu_right {
     width:100%
    }
    .our_site .flex_wrap {
     flex-wrap:wrap
    }
    .our_site .footer_menu {
     display:flex;
     padding:0 0 15px
    }
    .our_site .footer_menu li {
     width:50%;
     margin:0 0 19px
    }
    .footer_logo {
     display:none
    }
    .footer_logo_right {
     float:none
    }
    .footer_menu {
     padding:0 0 15px
    }
    .footer_follow_us label {
     margin:0 0 10px;
     display:block;
     text-align:center
    }
    .footer_follow_us {
     text-align:center;
     padding-top:8px;
     border-top:1px solid #ddd
    }
    .top_footer {
     padding:15px 0 20px
    }
    .bottom_footer span {
     font-size:12px
    }
    .footer_follow_us label {
     margin:0 0 17px;
     font-size:16px
    }
    .bottom_footer {
     padding:10px 0
    }
    .footer_follow_us a {
     margin:0 20px
    }
    .top_footer h4 {
     margin:0 0 20px
    }
   }


/* Add Section */
.add_wrapper {
    height: 90px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
}
@media only screen and (max-width:767px){
    .add_wrapper {
    height: 250px;
    width: 300px;
    margin: 14px auto 0;
}
.add_wrapper img {
    width: 100%;
    height: 100%;
}
}


/* top heading */
.author_head {
    padding: 0 0 30px;
    margin: 0 0 40px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.author_head h2 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    margin: 0;
}
.update_tab {
    border: 1px solid #000;
}
.update_tab a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    width: 80px;
    font-family: Georgia;
    font-weight: 700;
    text-align: center;
    line-height: 25px;
}
.update_tab a.active {
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width:767px){
    .author_head {
    flex-wrap: wrap;
    margin: 0 0 25px;
}
.author_head h2 {
    font-size: 20px;
    margin: 0 0 22px;
    width: 100%;
}
}



/* Fashion css */

.fashion_top {

}
.fashion_top h3{
font-size: 37px;
font-weight: 700;
color: #000;
line-height: 43px;
font-family: Georgia;
text-align: center;
margin: 0;
}
.fashion_top figure{
    margin: 0 0 10px;
}
.beauty_wrap{
    padding-bottom:50px;
  }


@media only screen and (max-width:1291px){
.fashion_top h3 {
    font-size: 25px;
    line-height: 30px;
}
}
@media only screen and (max-width:992px){
    .fashion_top h3 {
    font-size: 22px;
}
.right_card {
    margin: 0 0 15px;
}
.right_card p {
font-size: 16px;
}
}
@media only screen and (max-width:767px){
    .fashion_top h3 {
    font-size: 24px;
    line-height: 32px;
}
.right_card {
    margin: 0 0 24px;
} 
.right_card figure {
text-align: center;
margin: 0 0 10px;
}
.right_card p {
font-size: 18px;
line-height: 24px;
}
}

h4 {
    font-size: 20px;
    color: #000;
    font-family: Georgia;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 18px;
}
.right_card {
    margin: 0 0 26px;
}
.right_card figure {
    margin: 0 0 5px;
}
.right_card p {
    font-size: 18px;
    color: #000;
    font-family: Georgia;
    font-weight: 400;
    line-height: 24px;
}


.section_list {
    margin: 0 0 54px;
    padding: 0;
    border-top:1px solid #ddd;
}
.section_list li {
    display: flex;
    justify-content: space-between;
    padding: 34px 0 36px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}
.list_detail {
    margin-right: 15px;
    width: calc(100% - 565px);
}
.list_detail strong {
    font-family: Georgia;
    display: block;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin: 0 0 5px;
}
.list_detail h3 {
    font-family: Georgia;
    font-size: 32px;
    color: #000;
    line-height: 39px;
    font-weight: 400;
    margin: 0 0 15px;
}
.list_detail p {
    font-family: Georgia;
    font-size: 20px;
    color: #000;
    line-height: 28px;
    font-weight: 400;
    margin: 0 0 15px;
}
.list_detail span {
    font-family: Georgia;
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 400;
}
.list_pic {
    width: 550px;
}
.list_pic img {
    width: 100%;
}
@media only screen and (max-width:1291px){
.list_detail {
    width: calc(100% - 445px);
}
.list_detail h3 {
    font-size: 25px;
    line-height: 30px;
}
.list_detail p {
    font-size: 16px;
    line-height: 24px;
}
.list_pic {
    width: 430px;
}
}
@media only screen and (max-width:992px){
.list_detail {
    width: calc(100% - 315px);
}
.list_pic {
    width: 300px;
}
}
@media only screen and (max-width:767px){
    .section_list {
    margin: 0 0 30px;
}
.section_list li {
    padding: 24px 0 16px;
}
.list_detail {
    width: 100%;
    margin: 0;
}

.list_detail strong {
    font-size: 16px;
}
.list_detail h3 {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px;
}
.list_detail p, .list_detail span {
    display: none;
}
.list_pic {
    width: 100%;
}
}
a {
    color: #000;
    text-decoration: none;
}

